<div class="container cocktail-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400 %>')">


<h2><%= @cocktail.name %></h2>


<% @cocktail.doses.each do |dose| %>

<p><%= dose.ingredient.name  %> : <%=dose.description %> <%=link_to "🗑", dose_path(dose), method: :delete,
                  data: { confirm: "Are you sure?" }  %></p>
          
<%end %>



<p></p>

<%=link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
<br />
</div>
